body {
background-color: pink;
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  text-align: center;
  font-size: 1.5em;
  width: 97%;
  margin: auto;
}

input {
  box-sizing: border-box;
  width: 97%;
  padding: 12px 20px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #d4af37;
}

.fontsize {
  font-size: 1.3em;
}

@media screen and (min-width: 510px) {
  #container {
    text-align: center;
    margin: 3% auto 0 auto;
    width: 65%;
  }
  
  .fontsize {
    font-size: 1.2em;
  }
  
  input {
    width:100%;
    align-self: center;
  }
  
   fieldset
  {
    text-align: center;
  }
  
  .submit {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 0.9em;
  }
}

@media screen and (min-width: 768px) {
  #container{
    margin-right: 3%;
  }
  
  .fontsize {
    font-size: 1em;
  }
  
  .submit {
    width: 26%;
  }
    
}
