body {
background-color: yellow;
}

h1, h2 {
  text-align: center;
}


label{
    display: inline-block;
    float: center;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
  float: center;
}
